---
layout: base
customScripts:
  - /assets/js/repertoire.js
---
<h1 class="title">Repertoire (With Pete)</h1>
<p class="subtitle">Playable songs including Pete</p>

<table id="repertoire" class="sortable">
  <thead>
    <tr>
      <th width="50%">Title</th>
      <th>Artist</th>
    </tr>
  </thead>
  <tbody>
    {% for song in site.data.repertoire %}
      {% if song.ready == "yes" %}
        <tr>
          <td>{{ song.title }}</td>
          <td>{{ song.artist }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
