---
layout: base
---
<nav id="page-nav" class="print-hide">
  <ul>
    <li{% if page.repertoire-tab == "overview" %} class="active"{% endif %}><a href="/repertoire/overview">Overview</a></li>
    <li{% if page.repertoire-tab == "core" %} class="active"{% endif %}><a href="/repertoire/core">Core</a></li>
    <li{% if page.repertoire-tab == "pete" %} class="active"{% endif %}><a href="/repertoire/pete">Pete</a></li>
    <li{% if page.repertoire-tab == "unready" %} class="active"{% endif %}><a href="/repertoire/unready">Unready</a></li>
  </ul>
</nav>

{{ content }}
